<a href="https://colab.research.google.com/github/Lilking21j/coding/blob/main/Copy_of_printing_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Printing Project

Below is a series of tasks to complete to help you understand how printing works

# Task 1
This task is fairly simple. All you need to do is print your name and your age.

In [ ]:
print("name abdimajid, age =15")

name abdimajid, age =15

# Task 2
print your name and age using 2 print function arguments.
<p><em>Remember, print statement arguments are separated by commas.</em></p>

```python 
#expected output#
" 'your_name' 'your_age' "
```

In [ ]:
print(" 'name_abdimajid,age_15' ")

 'name_abdimajid,age_15'

# Task 3
print your name and age using 2 print function arguments, separated by a colon.

```python 
#expected output#
" 'your_name':'your_age' "
```

In [ ]:
"['name_abdimajid']:['age 15']"

"['name_abdimajid']:['age 15']"

# Task 4
print your favorite food and dessert separated by a colon.

```python 
#expected output#
"my favorite food is 'your_food':'your_dessert' "
```

In [ ]:
"my fav foodis'rice-chips':'my fav dessert_cake'"

"my fav foodis'rice-chips':'my fav dessert_cake'"

# Task 5
Produce the following using separators.

```python
"Wow I cant belive I am a: 'your_grade' in high school"
```

In [ ]:
"wow i cant belivee i am a:'10 grader'in your highschool"

"wow i cant belivee i am a:'10 grader'in your highschool"

# Task 6
Edit the code in order to print everything in a single line

In [ ]:
# code goes here
print("Bruh, how can I get this on one line ðŸ¤¦ðŸ¾â€â™€ï¸", end ='.')
var = " Ohhh... thats how"
print(var)

Bruh, how can I get this on one line ðŸ¤¦ðŸ¾â€â™€ï¸. Ohhh... thats how

# Task 7
Edit the code to print the values using an f-string

In [ ]:
# Code goes here
animal = 'Monkey'
show = "curious George"
print(f"How old is that", animal, "from", show, "?")

How old is that Monkey from curious George ?

# Task 8
Use an f-string to print the name of your school, what grade you're in and your favorite thing for lunch

```python 
#expected output#
"My name is 'your_name' and I am in 'your_grade'. My favorite thing for lunch is 'fav_lunch'."
```

In [ ]:
# Code goes here
school = "wasburn"
grade = 10
fav_lunch = "pasta"

# TASK 9
Use the escape character `\n` to print the following string.

> If I had a million dollars

> I'd spend it on `'What ever you would spend it on goes here'`

In [ ]:
print("Hello")
print("Abdi")

Hello
Abdi

In [ ]:
print("Hello Abdi")

Hello Abdi

In [ ]:
print("Hello \nAbdi")

Hello
Abdi